*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    color: #ffffff;
}
body{
    width: 100%;
    background: linear-gradient(45deg, #80FFDB, #a1c1e7) no-repeat
}
form input{
   display: flex;

  
}
.logo{
    font-family: 'Great Vibes', cursive;  
     margin: 20px;
     font-size :30px;
}
.log{
    text-align: center;
    color: #ffffff;
}
.email , .password,.remember , .hr-sect , .GUEST_0, .GUEST_1, .log , .signup{
    font-family: 'poppins', sans-serif;
}
.email , .password{

    display: flex;
    justify-content: center;
    width: 250px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 20px;
    color: rgb(80, 80, 80);
    margin-top: 20px;
}
.password{
    margin-bottom: 10px;
}
.check,.remember{
    display: flex;
    display: inline;
}
.remember{
    font-size: 0.8rem;
    margin-left: 5px;
} 
.Remember,.login_button{
    display: flex;
    display: inline;
}
.login_button{
    display: flex;
    display: inline;
    width: 60px;
    height: 30px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #6ca0a0;
    border-style: none;
  
    margin-top: 5px;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
.Continue{
    text-align: center;
    font-size: 0.9rem;
}
 .guest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.GUEST_0{
    width: 250px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    cursor: pointer;
    background-color: #359fe6;
    color: #ffffff;
    margin-bottom: 15px;
}  
.GUEST_1{
    width: 250px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
    cursor: pointer;
    background-color: #fbfcfd;
    color: #000;
    margin-bottom: 15px;
}  
.loginbut{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
   
}
form {
    padding: 20px;
    border-style: none;
    background-color: rgba(238, 238, 238, 0.397);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.main_container{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.signup{
    text-align: center;
}
.link{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:#6ca0a0;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
}

