@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #e1fcdd, #d9f1ff);
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #a6c8db;
  border-style: none;
  border-radius: 0px 0px 5px 5px;
}

.img1 {
  width: 35px;
}

.logo {
  font-size: 18px;
  font-family: "Great Vibes", cursive;
  color: #fff;
}

.nav-Links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  justify-content: center;
  gap: 20px;
}

.nav-Links li {
  list-style: none;
}
.nav-Links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}
.nav-Links a:hover {
  text-decoration: underline;
}
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}
.text {
  margin-left: 2px;
}
.cardSpan1,
.cardSpan2,
.cardSpan3 {
  display: inline;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
}

/*  */
table {
  /* border: 1px solid black; */
  background: white;
  color: black;
}

th,
td {
  /* border: 1px solid black; */
  font-weight: bold;
}

/*  */

@media screen and (max-width: 896px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .nav-Links {
    position: absolute;
    left: 0;
    height: 92vh;
    width: 30%;
    top: 8vh;
  }
  .nav-Links li {
    display: none;
  }

  .burger {
    display: block;
  }
  .logo {
    text-align: center;
  }
}

/* Gratitude */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 30px;
  align-items: center;
  margin: 0px auto;
  padding: 20px 10px;
}

.card-container {
  height: 300px;
  opacity: 0.5;
  border: 2px solid white;
  box-shadow: #a6c8db;
  display: flex;
  flex-direction: column;
}

.title {
  background: white;
  text-align: center;
  font-size: 14px;
  height: 100%;
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container ul {
  list-style: none;
  background-color: #d9f1ff;
  height: 100%;
  flex-basis: 85%;
  padding: 10px 20px;
  overflow-y: auto;
}

/* Media Queries For Lists */

@media screen and (max-width: 896px) {
  .container {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
