@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to right, #e1fcdd, #d9f1ff);
    scroll-behavior:smooth;
}

/* ------------------ Navigation ------------------ */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 30px;
    align-items: center;
    height: 60px;
    background-color: #a6c8db;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
 
}

.profile-pic {
    width: 35px;
    height: 35px;

}
.profile-pic , .logout-icon{
  display: inline-block;
  vertical-align:middle;

}

.logout-icon {
  margin-top: 5px;
}


.logo {
    font-size: 18px;
    font-family: 'Great Vibes', cursive;
    color: #fff;
}

.nav-Links {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0; 
    
}

.nav-Links li {
    list-style: none;
    
}
.nav-Links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.nav-Links a:hover{
    text-decoration: underline;
}
.icon,
.text {
    vertical-align: middle;
    display: inline-block;
    font-weight: lighter;
}
.text{
    margin-left: 2px;
} 
.cardSpan1 ,.cardSpan2, .cardSpan3{
    display: inline;
    margin: 10px;
  
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}


/* ------------------ Calendar ------------------ */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.month-name {
  color: rgb(59, 139, 166);
  padding: 10px;

}

table {
        align-items: center; 
        box-shadow: rgba(177, 216, 255, 0.415) 0px 8px 24px;
        border-radius: 10px;
        background-color: white;
}

th,
td {
        width: 60px;
        height: 60px;  
        font-size: 20px;
        text-align: center;    
        border-radius: 10px;
        color: rgb(59, 139, 166);
}

th {
      font-weight: bold;
      align-items: center;
      color: white; 
      background: lightblue;
}

td {
  font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;
}

.date_selected_yellow {
    background-color:#f8ffbb ; 
    border-radius: 50%;
}

.date_selected_green {
    background-color:#deffde; 
    border-radius: 50%;
    
}

.not-actual-month {
  border: none;
  background: none;
}

/* ------------------ List ------------------ */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  gap: 30px;
  align-items: center;
  margin: 0px auto;
  padding: 20px 10px;
}

.card-container {
  height: 300px;
  opacity: 0.7;
  border: 1px solid white;
  box-shadow: #a6c8db;
  display: flex;
  flex-direction: column;
}

.title {
  background: white;
  text-align: center;
  font-size: 14px;
  height: 100%;
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container ul {
  list-style: none;
  background-color: #d9f1ff;
  height: 100%;
  flex-basis: 85%;
  padding: 10px 20px;
  overflow-y: auto;
  text-align: justify;
}

/* ------------------ Modal ------------------ */

button, button:focus{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}
  
button:active{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.add-gratitude-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    color: #22668e;
}

.add-gratitude-modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1rem;
    width: 24rem;
    border-radius: 0.25rem;
}

.add-gratitude-modal-close-button {
    position: absolute;
    top:1rem;
    right:1rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #6ebbe6;
    color: white;
}

.add-gratitude-modal-close-button:hover {
  background-color: #4e9fcf;
}

.show-modal {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

.form-header {
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input, textarea {
  border-radius:5px;
  border: 1px solid rgb(229, 229, 229);
  margin-bottom: 10px;
}

.gratitude-date {
  width: 90px;
}

#gratitude-text {
  resize: none;
  padding: 5px;
}

.add-gratitude-button {
  border-radius: 5px;
  background-color: #6ebbe6;
  height: 60px;
  color: white;
  font-size: 20px;
  border:1px solid #bbe6ff;
  cursor: pointer;
}

.add-gratitude-button:hover {
  background-color: #4e9fcf;
}

/* ------------------ Media Queries ------------------ */

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 896px) {

  body {
      width: 100%;
      height: 100%;   
  }
  .lock-scroll {
    overflow: hidden;
}

  .nav-Links {
      position: absolute;
      left: 0;
      height: 100vh;
      width: 100%;
      top: 8vh;
      background-color: #86bcdb;
      display: flex;
      flex-direction: column;
      align-items: left;
      transform: translateX(-100%);
      transition: transform 0.5s  ease-in;
      z-index: 999;
      padding-left: 20px;      
  }
  
  .nav-Links li {
      opacity: 0;
  }

  .burger {
      display: block;
  }
  .logo {
   text-align: center;
  }
  .nav-active {
      transform: translateX(0);
      }
      .container {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
      }
      
      
      @keyframes navLinkFade {
      
      from {
          opacity: 0;
          transform: translateX(50px)
      }
      
      to {
          opacity: 1;
          margin-bottom: 20px;
          transform: translateX(0px);
      }
      }
      
      .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
      
      }
      
      .toggle .line2 {
      opacity: 0;
      }
      
      .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
      }
}

@media screen and (max-width: 530px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  th {
    border-radius: 3px;
    
  }

  th, td {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .add-gratitude-modal-content {

    width: 20rem;

  }
}

