@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #a6c8db;
    border-style: none;
    border-radius: 0px 0px 5px 5px;
}

.img1 {
    width: 35px;
}

.logo {
    font-size: 18px;
    font-family: 'Great Vibes', cursive;
    color: #fff;
}

.nav-Links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    justify-content: center;
    gap: 20px;
}

.nav-Links li {
    list-style: none;
}
.nav-Links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.nav-Links a:hover{
    text-decoration: underline;
}
.icon,
.text {
    vertical-align: middle;
    display: inline-block;
}
.text{
    margin-left: 2px;
} 
.cardSpan1 ,.cardSpan2, .cardSpan3{
    display: inline;
  
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}

/*  */
table {
    border-collapse: collapse;
    background: white;
    color: black;
}

th,
td {
    font-weight: bold;
}


/*  */



@media screen and (max-width: 896px) {

    body {
        width: 100%;
        overflow-x: hidden;
    }
    .nav-Links {
        position: absolute;
        left: 0;
        height: 92vh;
        width: 30%;
        top: 8vh;
    }
    .nav-Links li {
       display: none;
    }
  
    .burger {
        display: block;
    }
    .logo {
     text-align: center;
    }
}
